    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">{ PraxisName }</h1>
            <ul class="pull-right social-icons social-icons-color">
show if a praxis facebook or google site exists
               <li><a href="#" data-original-title="Facebook" class="rounded social_facebook" style="line-height:100%;"></a></li>
               <li><a href="#" data-original-title="Google Plus" class=" rounded social_googleplus"></a></li>

            </ul>
        </div>
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

    <!--=== Content Part ===-->
    <div class="container content">		
        <div class="row">
            <!-- Begin Sidebar Menu -->
            <div class="col-md-3">
            <img class="img-responsive profile-img margin-bottom-20" src="assets/img/team/5.jpg" alt="">
                <ul class="list-group sidebar-nav-v1" id="sidebar-nav">

                <!-- Buttons UI -->
                    <li class="list-group-item list-toggle" ng-class="{'active': !custom}">                   
                        <a ng-click="custom=!custom" href="javascript:void(0)">Praxis</a>
                        <ul >
                        <li ng-hide="custom">
                                                           
                                <a ng-click="selection=settings" href="javascript:void(0)"><i class="fa fa-caret-right"></i> Termine</a>
                            </li>


                            <li ng-hide="custom"><a href="feature_btn_general.html"><i class="fa fa-caret-right"></i> Leistungen</a></li>
                            <li ng-hide="custom">
                                                           
                                <a href="feature_btn_brands.html"><i class="fa fa-caret-right"></i> {if exit}Preise</a>
                            </li>
                            <li ng-hide="custom">
                                                            
                                <a href="feature_btn_effects.html"><i class="fa fa-caret-right"></i> {if exit}Garantie</a>
                            </li>
                            <li ng-hide="custom">
                                                            
                                <a href="feature_btn_effects.html"><i class="fa fa-caret-right"></i> {if exitPhilosohpie</a>
                            </li>
                        </ul>
                    </li>
                    <!-- End Buttons UI -->


                    <!-- Buttons UI -->
                    <li class="list-group-item list-toggle">                   
                        <a >Zahnärzte</a>
                        <ul >
                            <li><a href="feature_btn_general.html"><i class=" fa-caret-right   fa"></i> {zahnarzt_titel}{ Zahnarzt_1 }</a></li>
                            <li>
                                                            
                                <a href="feature_btn_brands.html"><i class="fa-caret-right  fa"></i> {zahnarzt_titel}{ Zahnarzt_2 }</a>
                            </li>
                            <li>
                                                           
                                <a href="feature_btn_effects.html"><i class="fa-caret-right  fa"></i> {zahnarzt_titel}{ Zahnarzt_3 }</a>
                            </li>
                        </ul>
                    </li>
                    <!-- End Buttons UI -->

                    <!-- Buttons UI -->
                    <li class="list-group-item list-toggle">                   
                        <a>Mitarbeiter</a>

                    </li>
                    <!-- End Buttons UI -->

                    <!-- Buttons UI -->
                    <li class="list-group-item list-toggle">                   
                        <a>Bildergalerie</a>

                    </li>
                    <!-- End Buttons UI -->




                 


 
                </ul>
            </div>
            <!-- End Sidebar Menu -->

            <!--  #####################################  Begin Main Content ################################ -->
            <div class="col-md-9" >
<div class="tag-box tag-box-v3">

<!-- MItarbeiter -->
                
        <div class="headline"><h2>Unser Team</h2></div>
        <div class="row team margin-bottom-20">
            <div class="col-sm-4">
                <div class="thumbnail-style">
                    <img alt="" src="assets/img/team/1.jpg" class="img-responsive">
                    <h3><a>Jack Bour</a> <small>Chief Executive Officer</small></h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                    <ul class="list-unstyled list-inline team-socail">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail-style">
                    <img alt="" src="assets/img/team/3.jpg" class="img-responsive">
                    <h3><a>Kate Metus</a> <small>Project Manager</small></h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                    <ul class="list-unstyled list-inline team-socail">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail-style">
                    <img alt="" src="assets/img/team/2.jpg" class="img-responsive">
                    <h3><a>Porta Gravida</a> <small>VP of Operations</small></h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                    <ul class="list-unstyled list-inline team-socail">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail-style">
                    <img alt="" src="assets/img/team/3.jpg" class="img-responsive">
                    <h3><a>Kate Metus</a> <small>Project Manager</small></h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                    <ul class="list-unstyled list-inline team-socail">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail-style">
                    <img alt="" src="assets/img/team/2.jpg" class="img-responsive">
                    <h3><a>Porta Gravida</a> <small>VP of Operations</small></h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                    <ul class="list-unstyled list-inline team-socail">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>

        </div><!-- MItarbeiter ende -->


    <!-- Gallery -->
        <div class="headline"><h2>Bildergalerie</h2></div>
        <div class="gallery-page">
            <div class="row margin-bottom-20">
                <div class="col-md-3 col-sm-6">
                    <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" title="Project Title" href="assets/img/main/1.jpg">
                        <span class="overlay-zoom">  
                            <img alt="" src="assets/img/main/1.jpg" class="img-responsive">
                            <span class="zoom-icon"></span>
                        </span>                                              
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" title="Project Title" href="assets/img/main/2.jpg">
                        <span class="overlay-zoom">  
                            <img alt="" src="assets/img/main/2.jpg" class="img-responsive">
                            <span class="zoom-icon"></span>
                        </span>                                              
                    </a>                                                                                    
                </div>
                <div class="col-md-3 col-sm-6">
                    <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" title="Project Title" href="assets/img/main/3.jpg">
                        <span class="overlay-zoom">  
                            <img alt="" src="assets/img/main/3.jpg" class="img-responsive">
                            <span class="zoom-icon"></span>
                        </span>                                              
                    </a>                                                                                    
                </div>
                <div class="col-md-3 col-sm-6">
                    <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" title="Project Title" href="assets/img/main/4.jpg">
                        <span class="overlay-zoom">  
                            <img alt="" src="assets/img/main/4.jpg" class="img-responsive">
                            <span class="zoom-icon"></span>
                        </span>                                              
                    </a>                                                                                    
                </div>
            </div>

            <div class="row margin-bottom-20">
                <div class="col-md-3 col-sm-6">
                    <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" title="Project Title" href="assets/img/main/5.jpg">
                        <span class="overlay-zoom">  
                            <img alt="" src="assets/img/main/5.jpg" class="img-responsive">
                            <span class="zoom-icon"></span>
                        </span>                                              
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" title="Project Title" href="assets/img/main/6.jpg">
                        <span class="overlay-zoom">  
                            <img alt="" src="assets/img/main/6.jpg" class="img-responsive">
                            <span class="zoom-icon"></span>
                        </span>                                              
                    </a>                                                                                    
                </div>
                <div class="col-md-3 col-sm-6">
                    <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" title="Project Title" href="assets/img/main/7.jpg">
                        <span class="overlay-zoom">  
                            <img alt="" src="assets/img/main/7.jpg" class="img-responsive">
                            <span class="zoom-icon"></span>
                        </span>                                              
                    </a>                                                                                    
                </div>
                <div class="col-md-3 col-sm-6">
                    <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" title="Project Title" href="assets/img/main/8.jpg">
                        <span class="overlay-zoom">  
                            <img alt="" src="assets/img/main/8.jpg" class="img-responsive">
                            <span class="zoom-icon"></span>
                        </span>                                              
                    </a>                                                                                    
                </div>
            </div>


            </div>

            <div class="text-right">
                <ul class="pagination">
                    <li><a href="#">Prev</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li class="active"><a>3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">Next</a></li>
                </ul>
            </div> <!--/gallery-page-->         

            <div class="headline"><h2>{ Titel }{ zahnarzt_name }</h2></div>
                                <!--Profile Body-->
                    <div class="profile-body">
                        <div class="profile-bio">
                            <div class="row">
                                <div class="col-md-5">
                                    <img class="img-responsive md-margin-bottom-10" src="assets/img/team/5.jpg" alt="">
                                    <a class="btn-u btn-u-sm" href="#">Change Picture</a>
                                </div>
                                <div class="col-md-7">
                                    <h2>Edward Rooster</h2>
                                    <span><strong>Job:</strong> Web Developer</span>
                                    <span><strong>Position:</strong> Web Designer</span>
                                    <hr>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget massa nec turpis congue bibendum. Integer nulla felis, porta suscipit nulla et, dignissim commodo nunc. Morbi a semper nulla.</p>
                                    <p>Proin mauris odio, pharetra quis ligula non, vulputate vehicula quam. Nunc in libero vitae nunc ultricies tincidunt ut sed leo. Sed luctus dui ut congue consequat. Cras consequat nisl ante, nec malesuada velit pellentesque ac. Pellentesque nec arcu in ipsum iaculis convallis.</p>
                                </div>
                            </div>    
                        </div><!--/end row-->
                                
                      </div>

                      <hr>

                      <!-- PRAXIS LEISTUNGEN ; GARANTIE ; PHILOSPOHIE ; PREISE ;  it is all the the same simple text -->
            
            <div class="headline"><h2>Praxis Leistungen</h2></div>
                                
                      <div class="row">
                      <div class=" col-md-8">
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus.</p>
                        <p><strong>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque.</strong></p>
                        <p>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut repellat.</p>
                        <p><em>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos.</em></p>
                        <p><small>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</small></p>
                        </div>
</div>
                        <hr>
                        <div class="row">
                                        <div class="col-md-6">
                       
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum.</p>
                        <h1>h1. Heading 1 <small>Secondary text</small></h1>
                        <h2>h2. Heading 2 <small>Secondary text</small></h2>
                        <h3>h3. Heading 3 <small>Secondary text</small></h3>
                        <h4>h4. Heading 4 <small>Secondary text</small></h4>
                        <h5>h5. Heading 5 <small>Secondary text</small></h5>
                        <h6>h6. Heading 6 <small>Secondary text</small></h6>
                    </div>
                        </div>
<hr>
                        <!-- Ordered and Unordered Lists -->
                    <div class="row margin-bottom-40">
                        <!-- Unordered Lists -->
                        <div class="col-md-4">
                            <div class="headline"><h2>Unordered Lists</h2></div>
                            <ul>
                                <li>Lorem ipsum dolor sit amet</li>
                                <li>Consectetur adipiscing elit</li>
                                <li>Integer molestie lorem at massa</li>
                                <li>Facilisis in pretium nisl aliquet</li>
                                <li>Nulla volutpat aliquam velit
                                    <ul>
                                        <li>Phasellus iaculis neque</li>
                                        <li>Purus sodales ultricies</li>
                                        <li>Vestibulum laoreet porttitor</li>
                                        <li>Ac tristique libero volutpat at</li>
                                    </ul>
                                </li>
                                <li>Faucibus porta lacus fringilla vel</li>
                                <li>Aenean sit amet erat nunc</li>
                                <li>Eget porttitor lorem</li>
                            </ul>
                        </div>

                        <!-- Unstyled Lists -->
                        <div class="col-md-4">
                            <div class="headline"><h2>Unstyled Lists</h2></div>
                            <ul class="list-unstyled">
                                <li>Lorem ipsum dolor sit amet</li>
                                <li>Consectetur adipiscing elit</li>
                                <li>Integer molestie lorem at massa</li>
                                <li>Facilisis in pretium nisl aliquet</li>
                                <li>Nulla volutpat aliquam velit
                                    <ul>
                                        <li>Phasellus iaculis neque</li>
                                        <li>Purus sodales ultricies</li>
                                        <li>Vestibulum laoreet porttitor sem</li>
                                        <li>Ac tristique libero volutpat at</li>
                                    </ul>
                                </li>
                                <li>Faucibus porta lacus fringilla vel</li>
                                <li>Aenean sit amet erat nunc</li>
                                <li>Eget porttitor lorem</li>
                            </ul>
                        </div>                

                        <!-- Ordered Lists -->
                        <div class="col-md-4">
                            <div class="headline"><h2>Ordered Lists</h2></div>
                            <ol>
                                <li>Lorem ipsum dolor sit amet</li>
                                <li>Consectetur adipiscing elit</li>
                                <li>Integer molestie lorem at massa</li>
                                <li>Facilisis in pretium nisl aliquet</li>
                                <li>Nulla volutpat aliquam velit
                                    <ol>
                                        <li>Phasellus iaculis neque</li>
                                        <li>Purus sodales ultricies</li>
                                        <li>Vestibulum laoreet porttitor</li>
                                        <li>Ac tristique libero volutpat at</li>
                                    </ol>
                                </li>
                                <li>Faucibus porta lacus fringilla vel</li>
                                <li>Aenean sit amet erat nunc</li>
                                <li>Eget porttitor lorem</li>
                            </ol>
                        </div>
                    </div><!--/row-->
                    <!-- End Ordered and Unordered Lists -->
                    
<div class="headline"><h2> Praxis Termine</h2></div>


<div style="visibility: visible;" id="main" class="span9">
                    
<div class="mod_article block" id="kalender">

<!-- indexer::stop -->
<div class="mod_calendar block">

<table class="calendar">
<thead>
  <tr>
    <th colspan="2" class="head previous"><a href="kalender.html?month=201502" title="Februar 2015">&lt; Februar 2015</a></th>
    <th colspan="3" class="head current">März 2015</th>
    <th colspan="2" class="head next"><a href="kalender.html?month=201504" title="April 2015">April 2015 &gt;</a></th>
  </tr>
  <tr>
    <th class="cal_label">Montag</th>
    <th class="cal_label">Dienstag</th>
    <th class="cal_label">Mittwoch</th>
    <th class="cal_label">Donnerstag</th>
    <th class="cal_label">Freitag</th>
    <th class="cal_label weekend col_last">Samstag</th>
    <th class="cal_label weekend col_first">Sonntag</th>
  </tr>
</thead>
<tbody>
  <tr class="week_0 first">
    <td class="days empty col_first">
      <div class="header">&nbsp;</div>
    </td>
    <td class="days empty">
      <div class="header">&nbsp;</div>
    </td>
    <td class="days empty">
      <div class="header">&nbsp;</div>
    </td>
    <td class="days empty">
      <div class="header">&nbsp;</div>
    </td>
    <td class="days empty">
      <div class="header">&nbsp;</div>
    </td>
    <td class="days empty weekend">
      <div class="header">&nbsp;</div>
    </td>
    <td class="days active weekend col_last">
      <div class="header">1</div>
      <div class="event cal_1 bygone"><a href="http://Swisschesstour.com" title="Pontresina-St Moritz Ski Open (25.02.2015 - 01.03.2015)" target="_blank">Pontresina-St Moritz Ski Open</a></div>
      <div class="event cal_1 bygone"><a href="http://www.schach.li" title="Ascona Amateuropen (01.03.2015 - 07.03.2015)" target="_blank">Ascona Amateuropen</a></div>
    </td>
  </tr>
  <tr class="week_1">
    <td class="days active col_first">
      <div class="header">2</div>
      <div class="event cal_1 bygone"><a href="http://www.schach.li" title="Ascona Amateuropen (01.03.2015 - 07.03.2015)" target="_blank">Ascona Amateuropen</a></div>
    </td>
    <td class="days active">
      <div class="header">3</div>
      <div class="event cal_1 bygone"><a href="http://www.schach.li" title="Ascona Amateuropen (01.03.2015 - 07.03.2015)" target="_blank">Ascona Amateuropen</a></div>
    </td>
    <td class="days active">
      <div class="header">4</div>
      <div class="event cal_1 bygone"><a href="http://www.schach.li" title="Ascona Amateuropen (01.03.2015 - 07.03.2015)" target="_blank">Ascona Amateuropen</a></div>
    </td>
    <td class="days active">
      <div class="header">5</div>
      <div class="event cal_1 bygone"><a href="http://www.schach.li" title="Ascona Amateuropen (01.03.2015 - 07.03.2015)" target="_blank">Ascona Amateuropen</a></div>
    </td>
    <td class="days active">
      <div class="header">6</div>
      <div class="event cal_1 bygone"><a href="http://www.schach.li" title="Ascona Amateuropen (01.03.2015 - 07.03.2015)" target="_blank">Ascona Amateuropen</a></div>
      <div class="event cal_1 current"><a href="http://www.burgdorfopen.com" title="Burgdorfer Stadthaus-Open (06.03.2015 - 08.03.2015)" target="_blank">Burgdorfer Stadthaus-Open</a></div>
      <div class="event cal_1 bygone"><a href="http://www.echecs-nyon.ch" title="Tournoi Blitz Nyon (Freitag, 06.03.2015)" target="_blank">Tournoi Blitz Nyon</a></div>
    </td>
    <td class="days active weekend">
      <div class="header">7</div>
      <div class="event cal_1 bygone"><a href="http://www.schach.li" title="Ascona Amateuropen (01.03.2015 - 07.03.2015)" target="_blank">Ascona Amateuropen</a></div>
      <div class="event cal_1 current"><a href="http://www.burgdorfopen.com" title="Burgdorfer Stadthaus-Open (06.03.2015 - 08.03.2015)" target="_blank">Burgdorfer Stadthaus-Open</a></div>
      <div class="event cal_1 Jugend bygone"><a href="http://www.echecs-nyon.ch" title="Tournoi Junior/Adulte Nyon (Samstag, 07.03.2015)" target="_blank">Tournoi Junior/Adulte Nyon</a></div>
      <div class="event cal_1 Jugend bygone"><a href="http://www.schach-nsv.ch" title="Therwil JNEM Jugendeinzelm. (Samstag, 07.03.2015)" target="_blank">Therwil JNEM Jugendeinzelm.</a></div>
      <div class="event cal_1 Open bygone"><a href="http://info@schachclub-einsiedeln.ch" title="Schnellschachturnier (Samstag, 07.03.2015)" target="_blank">Schnellschachturnier</a></div>
      <div class="event cal_1 Open bygone"><a href="http://schachmuseum.ch" title="Swiss Chess Blitz GP 2015 (Samstag, 07.03.2015)" target="_blank">Swiss Chess Blitz GP 2015</a></div>
    </td>
    <td class="days active weekend col_last today">
      <div class="header">8</div>
      <div class="event cal_1 current"><a href="http://www.burgdorfopen.com" title="Burgdorfer Stadthaus-Open (06.03.2015 - 08.03.2015)" target="_blank">Burgdorfer Stadthaus-Open</a></div>
      <div class="event cal_1 Jugend current"><a href="termin-anzeigen/events/sjssm_v1.html" title="Solothurn: SJSSM (Sonntag, 08.03.2015)" target="_blank">Solothurn: SJSSM</a></div>
    </td>
  </tr>
  <tr class="week_2">
    <td class="days active col_first">
      <div class="header">9</div>
      <div class="event cal_1 Open upcoming"><a href="http://skbelp.ch" title="Chess 960 (Montag, 09.03.2015)" target="_blank">Chess 960</a></div>
    </td>
    <td class="days">
      <div class="header">10</div>
    </td>
    <td class="days">
      <div class="header">11</div>
    </td>
    <td class="days">
      <div class="header">12</div>
    </td>
    <td class="days">
      <div class="header">13</div>
    </td>
    <td class="days active weekend">
      <div class="header">14</div>
      <div class="event cal_1 Jugend upcoming"><a href="http://www.swisschess.ch/sjmm.html" title="SJMM: 5. Spieltag / CSJE: 5e jour de jeu (Samstag, 14.03.2015)" target="_blank">SJMM: 5. Spieltag / CSJE: 5e jour de jeu</a></div>
      <div class="event cal_1 Open upcoming"><a href="http://http://www.uve-wsb.ch/competitions/active-chess-du-bouveret" title="Tournoi du Bouveret (Samstag, 14.03.2015)" target="_blank">Tournoi du Bouveret</a></div>
    </td>
    <td class="days active weekend col_last">
      <div class="header">15</div>
      <div class="event cal_1 SSB upcoming"><a href="http://www.swisschess.ch/team-cup.html" title="Team-Cup 2015/2016: Anmeldeschluss (Sonntag, 15.03.2015)" target="_blank">Team-Cup 2015/2016: Anmeldeschluss</a></div>
    </td>
  </tr>
  <tr class="week_3">
    <td class="days active col_first">
      <div class="header">16</div>
      <div class="event cal_1 Senioren upcoming"><a href="http://www.schach.ch/sss" title="Bad Ragaz: Seniorenturnier (16.03.2015 - 25.03.2015)" target="_blank">Bad Ragaz: Seniorenturnier</a></div>
    </td>
    <td class="days active">
      <div class="header">17</div>
      <div class="event cal_1 Senioren upcoming"><a href="http://www.schach.ch/sss" title="Bad Ragaz: Seniorenturnier (16.03.2015 - 25.03.2015)" target="_blank">Bad Ragaz: Seniorenturnier</a></div>
    </td>
    <td class="days active">
      <div class="header">18</div>
      <div class="event cal_1 Senioren upcoming"><a href="http://www.schach.ch/sss" title="Bad Ragaz: Seniorenturnier (16.03.2015 - 25.03.2015)" target="_blank">Bad Ragaz: Seniorenturnier</a></div>
    </td>
    <td class="days active">
      <div class="header">19</div>
      <div class="event cal_1 Senioren upcoming"><a href="http://www.schach.ch/sss" title="Bad Ragaz: Seniorenturnier (16.03.2015 - 25.03.2015)" target="_blank">Bad Ragaz: Seniorenturnier</a></div>
    </td>
    <td class="days active">
      <div class="header">20</div>
      <div class="event cal_1 Senioren upcoming"><a href="http://www.schach.ch/sss" title="Bad Ragaz: Seniorenturnier (16.03.2015 - 25.03.2015)" target="_blank">Bad Ragaz: Seniorenturnier</a></div>
      <div class="event cal_1 upcoming"><a href="http://www.skbirseck.ch" title="Blitz Turnier &quot;75 Jahre Birseck&quot; (Freitag, 20.03.2015)" target="_blank">Blitz Turnier "75 Jahre Birseck"</a></div>
    </td>
    <td class="days active weekend">
      <div class="header">21</div>
      <div class="event cal_1 Senioren upcoming"><a href="http://www.schach.ch/sss" title="Bad Ragaz: Seniorenturnier (16.03.2015 - 25.03.2015)" target="_blank">Bad Ragaz: Seniorenturnier</a></div>
      <div class="event cal_1 SSB upcoming"><a href="http://www.swisschess.ch/sgm.html" title="SGM: 7. Runde (Samstag, 21.03.2015)" target="_blank">SGM: 7. Runde</a></div>
    </td>
    <td class="days active weekend col_last">
      <div class="header">22</div>
      <div class="event cal_1 Senioren upcoming"><a href="http://www.schach.ch/sss" title="Bad Ragaz: Seniorenturnier (16.03.2015 - 25.03.2015)" target="_blank">Bad Ragaz: Seniorenturnier</a></div>
      <div class="event cal_1 Jugend upcoming"><a href="http://www.sk-bern.ch" title="Bern: Gambit Schülerturnier (Sonntag, 22.03.2015)" target="_blank">Bern: Gambit Schülerturnier</a></div>
    </td>
  </tr>
  <tr class="week_4">
    <td class="days active col_first">
      <div class="header">23</div>
      <div class="event cal_1 Senioren upcoming"><a href="http://www.schach.ch/sss" title="Bad Ragaz: Seniorenturnier (16.03.2015 - 25.03.2015)" target="_blank">Bad Ragaz: Seniorenturnier</a></div>
      <div class="event cal_1 SSB upcoming"><a href="http://www.swisschess.ch/smm.html" title="SMM: 1. Runde (23.03.2015 - 29.03.2015)" target="_blank">SMM: 1. Runde</a></div>
    </td>
    <td class="days active">
      <div class="header">24</div>
      <div class="event cal_1 Senioren upcoming"><a href="http://www.schach.ch/sss" title="Bad Ragaz: Seniorenturnier (16.03.2015 - 25.03.2015)" target="_blank">Bad Ragaz: Seniorenturnier</a></div>
      <div class="event cal_1 SSB upcoming"><a href="http://www.swisschess.ch/smm.html" title="SMM: 1. Runde (23.03.2015 - 29.03.2015)" target="_blank">SMM: 1. Runde</a></div>
    </td>
    <td class="days active">
      <div class="header">25</div>
      <div class="event cal_1 Senioren upcoming"><a href="http://www.schach.ch/sss" title="Bad Ragaz: Seniorenturnier (16.03.2015 - 25.03.2015)" target="_blank">Bad Ragaz: Seniorenturnier</a></div>
      <div class="event cal_1 SSB upcoming"><a href="http://www.swisschess.ch/smm.html" title="SMM: 1. Runde (23.03.2015 - 29.03.2015)" target="_blank">SMM: 1. Runde</a></div>
    </td>
    <td class="days active">
      <div class="header">26</div>
      <div class="event cal_1 SSB upcoming"><a href="http://www.swisschess.ch/smm.html" title="SMM: 1. Runde (23.03.2015 - 29.03.2015)" target="_blank">SMM: 1. Runde</a></div>
    </td>
    <td class="days active">
      <div class="header">27</div>
      <div class="event cal_1 SSB upcoming"><a href="http://www.swisschess.ch/smm.html" title="SMM: 1. Runde (23.03.2015 - 29.03.2015)" target="_blank">SMM: 1. Runde</a></div>
    </td>
    <td class="days active weekend">
      <div class="header">28</div>
      <div class="event cal_1 SSB upcoming"><a href="http://www.swisschess.ch/smm.html" title="SMM: 1. Runde (23.03.2015 - 29.03.2015)" target="_blank">SMM: 1. Runde</a></div>
      <div class="event cal_1 Open upcoming"><a href="http://sprengschach.ch/index.php/menuturniere/menuverschiedenes/304-sprengschach-am-spielfest-2015" title="Wil: Fressschach+Blitzturnier (Samstag, 28.03.2015)" target="_blank">Wil: Fressschach+Blitzturnier</a></div>
    </td>
    <td class="days active weekend col_last">
      <div class="header">29</div>
      <div class="event cal_1 SSB upcoming"><a href="http://www.swisschess.ch/smm.html" title="SMM: 1. Runde (23.03.2015 - 29.03.2015)" target="_blank">SMM: 1. Runde</a></div>
      <div class="event cal_1 Open upcoming"><a href="http://sprengschach.ch/index.php/menuturniere/menuverschiedenes/304-sprengschach-am-spielfest-2015" title="Tandem-Turnier am Spielfest (Sonntag, 29.03.2015)" target="_blank">Tandem-Turnier am Spielfest</a></div>
    </td>
  </tr>
  <tr class="week_5 last">
    <td class="days col_first">
      <div class="header">30</div>
    </td>
    <td class="days">
      <div class="header">31</div>
    </td>
    <td class="days empty">
      <div class="header">&nbsp;</div>
    </td>
    <td class="days empty">
      <div class="header">&nbsp;</div>
    </td>
    <td class="days empty">
      <div class="header">&nbsp;</div>
    </td>
    <td class="days empty weekend">
      <div class="header">&nbsp;</div>
    </td>
    <td class="days empty weekend col_last">
      <div class="header">&nbsp;</div>
    </td>
  </tr>
</tbody>
</table>

</div>
<!-- indexer::continue -->

<div class="ce_text block" style="margin-top:20px; margin-bottom:20px;">
    
        
            <table class="legend" style="margin-left: auto; margin-right: auto;">
<tbody>
<tr>
<td class="SSB">&nbsp;</td>
<td>&nbsp;</td>
<td class="Jubilaeum">&nbsp;</td>
<td>&nbsp;</td>
<td class="Jugend">&nbsp;</td>
<td>&nbsp;</td>
<td class="Senioren">&nbsp;</td>
</tr>
<tr>
<td>SSB / FSE</td>
<td>&nbsp;</td>
<td>Ju­gend / ju­ni­ors</td>
<td>&nbsp;</td>
<td>Se­nio­ren / se­ni­ors</td>
<td>&nbsp;</td>
<td>Ju­bi­lä­um / jubilé</td>
</tr>
</tbody>
</table>        
        
    
</div>

</div>
 
                </div>






            <div></div>







        </div>


                                
            </div>
            </div>
            <!-- #####################################  End Main Content ###################################-->
        </div>          
    </div><!--/container-->		
    <!--=== End Content Part ===-->